@model Vehicle 
    @{
        ViewBag.Title = "Edit Product"; Layout = "_AdminLayout";
    }
    <form asp-action="Edit" method="post"> 
        <input type="hidden" asp-for="ID" /> 
        <div class="form-group"> 
            <label asp-for="Type"></label>
            <div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <input asp-for="Type" class="form-control" />
        </div> 
        <div class="form-group"> 
            <label asp-for="Description"></label>
            <div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div> 
        <div class="form-group"> 
            <label asp-for="Category"></label>
            <div>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <input asp-for="Category" class="form-control" />
        </div> 
        <div class="form-group"> 
            <label asp-for="BasePrice"></label>
            <div>
                <span asp-validation-for="BasePrice" class="text-danger"></span>
            </div>
            <input asp-for="BasePrice" class="form-control" />
        </div> 
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Save</button> 
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </div> 
    </form>