@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout5";
}



<table class="table table-striped table-bordered table-condensed">
     <tr>
        <!--<th class="text-right">ID</th>-->
        <th>Name</th>
        <th>Description</th>
        <th class="text-right">Price</th>
     </tr>
         @foreach (var item in Model)
         {
             <tr>
                <!--<td class="text-right">@item.ProductID</td>-->
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td class="text-right">@item.Price.ToString("c")</td>
            </tr>
         }
</table>
