<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>

    <style>

        .navbar {
            background-color: black;
            top: 0;
            width: 100%;
            color: white:
        }

            .navbar a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 5px 8px;
                text-decoration: none;
                font-size: 20px;
            }

                .navbar a:hover {
                    color: #1c87c9;
                }
    </style>

    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>
</head>
<body>

    <div class="navbar">
        <a class="button btn-xs btn-primary float-left" asp-action="MainAdmin" asp-controller="Admin">Admin Menus</a>
        <a class="button btn-xs btn-primary float-right" asp-action="Logout2" asp-controller="Account">Log Out</a>
        
    </div>

    <div class="container">

        <div class="card">
 
            <div class="card-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>