<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>

    <style>

        .navbar {
            background-color: black;
            top: 0;
            width: 100%;
            color: white:
        }

            .navbar a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 5px 8px;
                text-decoration: none;
                font-size: 20px;
            }

                .navbar a:hover {
                    color: #1c87c9;
                }
    </style>
    
    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>
</head>
<body>

    <div class="navbar">
        <a href="/"> <b> Home </b> </a>
    </div>

  
                @RenderBody()
           
        
   
</body>
</html>