<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
        <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
        <link rel="stylesheet" asp-href-include="css/home.css" />
        <title>Your Cart | Tuskla - Electric Cars</title>
    </head>
    <body>
        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("Footer")
    </body>
</html>