<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Metadata -->
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="description" content="Car, car, car, car">
    <meta name="keywords" content="Search engine keywords, like car">
    <!-- JavaScript -->
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/google-antiflicker.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" asp-href-include="~/css/google-antiflicker.css" />
    <link rel="stylesheet" type="text/css" asp-href-include="~/css/site.css" />
    <link rel="stylesheet" type="text/css" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" type="text/css" asp-href-include="~/lib/font-awesome/css/*.css" />
    <link rel="stylesheet" type="text/css" asp-href-include="~/lib/topcoat/css/topcoat-desktop-light.min.css" />
    <!-- Favicon, Title -->
    <link rel="icon" type="image/x-icon" href="~/img/logos/tuskla-logo-2184-2036.png">
    <title>@ViewBag.Title</title>
</head>
    <body>
        <section class="content">
            @Html.Partial("_Header")
            @RenderBody()
        </section>
        @Html.Partial("_Footer")
    </body>
</html>