<!DOCTYPE html>
<html>
    <head>
         <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
         <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
         <title>Tuskla</title>
        <style>

            .Home {
                font-size: 21px;
                font-weight: bold;
                color: black;
                text-decoration: none;
                padding-bottom: 5px;
            }

            a.Home {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: black;">
            <a class="navbar-brand text-white" asp-action="DeleteAllCart" asp-controller="Cart"> <strong>Clear Cart</strong></a>
            <a class="navbar-brand text-white" href="#"><b> EVehicles </b></a>
            <div class="float-right>
                @await Component.InvokeAsync("CartSummary") 
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col col-md-3">
                    @await Component.InvokeAsync("NavigationMenu")
                </div>
                <div class="col col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>