<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
   <link rel="stylesheet" asp-href-include="css/Css1.css" />

    <title>Tuskla</title>
    <style>

        .Home {
            font-size: 25px;
            font-weight: bold;
            color: black;
            text-decoration: none;
            padding bottom: 5px;
        }

        .Cancel {
            font-size: 25px;
            font-weight: bold;
            color: black;
            text-decoration: none;
            padding bottom: 5px;
            float: right;
        }

    </style>
</head>
<body>

    <nav class="navbar navbar-light" style="background-color: black;">
        <a class="navbar-brand text-white" asp-action="DeleteAllCart" asp-controller="Cart"> <strong> Clear Cart </strong> </a>
        <a  class="navbar-brand text-white mx-auto" href="#"><b> EVehicles </b></a>
     </nav>
 
     <div class="container">
        <div class="row">
            <div >
                    @await Component.InvokeAsync("NavigationMenu2")
            </div>
            <div class="col col-md-9">
                    @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>