<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <meta name="description" content="Car, car, car, car">
        <meta name="keywords" content="Search engine keywords, like car">
        <script type="text/javascript" src="~/js/google-antiflicker.js"></script>   
        <link rel="stylesheet" type="text/css" href="~/css/google-antiflicker.css" />
        <link rel="stylesheet" type="text/css" href="~/css/home.css" />
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
        <link rel="stylesheet" asp-href-include="~/lib/font-awesome/css/*.css" />
        <title>Tuskla - Electric Cars</title>
        <link rel="icon" type="image/x-icon" href="~/img/logos/tuskla-logo-2184-2036.png">
    </head>
    <body>
    <header class="navbar navbar-inverse row flex-nowrap sticky-top justify-content-between align-items-center">
            <nav>
                <a href="~">
                <img class="logo" src="~/img/logos/tuskla-text-black-1948-264.png" />
                </a>
            </nav>
            <nav class="center desktop">
                <a class="navigation" href"~">Model S</a>
                <a class="navigation" href"~">Model 3</a>
                <a class="navigation" href"~">Model X</a>
                <a class="navigation" href"~">Model Y</a>
            </nav>
            <nav class="right">
                <div class="float-left">
                    @await Component.InvokeAsync("CartSummary")
                </div>
                <a class="navigation" href="">Account</a>
                <a class="navigation" href="" id="menuButton">Menu</a>
            </nav>
        </header>

        <!--
        <div class="container">
            <div class="row">
                <div class="col col-md-3">
                    @await Component.InvokeAsync("NavigationMenu")
                </div> <div class="col col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
        -->
    <div class="backdrop"></div>

    <aside>
        <button class="close fa-window-close"></button>
        <a class="navigation" href="">Model 3</a>
        <a class="navigation" href="">Model Y</a>
        <a class="navigation" href="">Model S</a>
        <a class="navigation" href="">Model X</a>
        <a class="navigation" href="">Existing Inventory</a>
        <a class="navigation" href="">Used Inventory</a>
        <a class="navigation" href="">Find Us</a>
        <a class="navigation" href="">Support</a>
        <a class="navigation" href="">Investor Relations</a>
        <a class="navigation" href="">Shop</a>
        <a class="navigation" href="">Account</a>
    </aside>


    <section class="model-3 active">
        <div class="content">
            <h1>Model 3</h1>
            <p>Order Online for <a class="touch" href="">Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom order</a>
                <a href="">exiting inventory</a>
            </div>
        </div>
    </section>
    <section class="model-y">
        <div class="content">
            <h1>Model Y</h1>
            <p>Order Online for <a class="touch" href="">Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom order</a>
                <a href="">exiting inventory</a>
            </div>
        </div>
    </section>
    <section class="model-s">
        <div class="content">
            <h1>Model S</h1>
            <p>Order Online for <a class="touch" href="">Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom order</a>
                <a href="">exiting inventory</a>
            </div>
        </div>
    </section>
    <section class="model-x">
        <div class="content">
            <h1>Model X</h1>
            <p>Order Online for <a class="touch" href="">Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom order</a>
                <a href="">exiting inventory</a>
            </div>
        </div>
    </section>

    <script src="~/js/navigation.js"></script>
    </body>
</html>