<footer class="navbar navbar-inverse row flex-nowrap sticky-top justify-content-between align-items-center">
    <nav class="center desktop">
        <a class="navigation" href"~">Tesla &copy; 2021</a>
        <a class="navigation" href"~">Privacy & Legal</a>
        <a class="navigation" href"~">Contact</a>
        <a class="navigation" href"~">Career</a>
        <a class="navigation" href"~">News</a>
        <a class="navigation" href"~">Engage</a>
        <a class="navigation" href"~">Locations</a>
    </nav>
</footer>