<header class="navbar navbar-inverse row flex-nowrap sticky-top justify-content-between align-items-center">
    <nav>
        <a href="~">
            <img class="logo" src="~/img/logos/tuskla-text-black-1948-264.png" />
        </a>
    </nav>
    <nav class="center desktop">
        <a class="navigation" href"~">Model S</a>
        <a class="navigation" href"~">Model 3</a>
        <a class="navigation" href"~">Model X</a>
        <a class="navigation" href"~">Model Y</a>
    </nav>
    <nav class="right">
        <div class="float-left">
            @await Component.InvokeAsync("CartSummary")
        </div>
        <a class="navigation" href="">Account</a>
        <a class="navigation" href="" id="menuButton">Menu</a>
    </nav>
</header>