@model Vehicle 
<div class="card m-3 rounded"> 
    <div class="card-block m-2"> 
        <h3>
            <strong>@Model.Type</strong> 
            <span class="float-right bg-success text-white rounded m-2 p-1">
                @Model.BasePrice.ToString("c")
            </span>
        </h3> 
        <span class="lead">@Model.Description</span>
    </div> 
</div>