@model IEnumerable<string>



<!--
<a original class=" btn btn-outline-dark btn-block m-2"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="Index"> Home
</a>
-->
<!--
<a class=" btn btn-outline-dark btn-block m-2"
<a id="GFG" asp-action="IndexModel3" class="btn btn-default" >  <b> Home &nbsp;&nbsp; </b> </a>
-->

<br />


