<!DOCTYPE html>
<html>
<head>
    @{
        ViewBag.Title = "Tuskla - Electric Cars";
        Layout = "_Layout";
    }

    <style>
        a {

            text-decoration:underline;
            color: blue;
        }

    </style>
</head>

<body>

    <br />
    <div>
        <a href="#Tax, Shipping and Destination Charges" class="btn">Tax, Shipping and Destination Charges</a> <br />
        <a href="#Returns and Cancellations" class="btn">Returns and Cancellations</a> <br />
        <a href="#EVehicle Shop" class="btn">EVehicle Shop</a> <br />
        <a href="#Terms and Conditions" class="btn">Terms and Conditions</a> <br />
        <a href="#Product Inquiries" class="btn">Product Inquiries</a> <br />
        <a href="#Product Shipping" class="btn">Product Shipping</a> <br />
        <a href="#How do I get my Wall Connector installed" class="btn">How do I get my Wall Connector installed?</a> <br />
        <a href="#Where do I find the build date of my EVehicle" class="btn">Where do I find the build date of my EVehicle?</a> <br />
        <a href="#Payment, Checkout and Pricing" class="btn">Payment, Checkout and Pricing</a> <br />
        <a href="#Can I edit or cancel my order" class="btn">Can I edit or cancel my order?</a> <br />
        <a href="#Shipping and Ordering Times" class="btn">Shipping and Ordering Times</a> <br />
        <a href="#How can I check the status of my order" class="btn">How can I check the status of my order?</a> <br />
        <a href="#Do I have to pay for return shipping" class="btn">Do I have to pay for return shipping?</a> <br />
        </div>
            <br />

            <div id="Tax, Shipping and Destination Charges">
                <strong>Tuskla Tax, Shipping and Destination charges</strong>
            </div>

            <p>
                <a name="back-to-top"></a>
                Tuskla charges a 7% tax on all orders.  The shipping charge is $10 on orders under $50
                and free otherwise.  The Destination charge for all vekicles is $2,500.
            </p>

            <div id="Returns and Cancellations">
                <strong>Returns and Cancellations</strong>
            </div>

            <p>
                <strong>Can I return an item purchased with a Tuskla Gift Card?</strong>
            </p>
            <p>
                <br />
                Yes. If you return a product that was originally purchased using a
                Tuskla Gift Card, it will be refunded to the original form of payment.
                <br />
                To initiate a return, follow the below steps:
            </p>
            <p>
                1. Create an account or log in to your existing Tuskla Account.
            </p>
            <ol start="1" type="1">
                <li>
                    Go to the Tuskla Shop.
                </li>
                <li>
                    Select menu to sign in.
                </li>
                <li>
                    Select 'Account.'
                </li>
                <li>
                    Select the order you wish to return.
                </li>
                <li>
                    Select 'Start a Return' for items eligible for return.
                </li>
                <li>
                    Follow the remaining steps to complete your return.
                </li>
            </ol>
            <p>
                <strong>
                    If I return an item purchased with a Tuskla Gift Card, how will I be
                    refunded?
                </strong>
            </p>
            <p>
                <br />
                Items purchased only using a Tuskla Gift Card as the form of payment
                will be refunded as an Account Balance in your Tuskla Account. This will
                be issued to the Tuskla Account that was used to redeem the original
                Tuskla Gift Card code.
            </p>
            <p>
                Items purchased using both a Tuskla Gift Card and a credit card via
                split payment will be refunded to both forms of payment. The refund will be
                processed up to the full amount that was paid using the Tuskla Gift Card
                first. Any remaining balance will be refunded to the credit card used to
                place the original order. Refunds are usually processed within 7-10
                business days after the returned product has arrived at the Tuskla
                warehouse and has completed inspection.
            </p>

            <div id="EVehicle Shop">
                <strong>Tuskla Shop</strong> </p>
            </div>
            <p>
                Tuskla vehicle accessories, Tuskla merchandise and select spare parts
                are available for purchase from the Tuskla Shop, the Tuskla app and
                most Tuskla retail locations.
            </p>
        </div>

        <div id="Terms and Conditions">
            <strong>Terms and Conditions</strong>
        </div>

        <p>
            When placing an order on Tuskla Shop, you are agreeing to all of the
            Terms and Conditions on this page.
        </p>
        <p>
            Tuskla and its affiliates sell directly to end-consumers. We may
            unilaterally cancel any order that we believe has been made with the
            intention to resell, intended to violate our trademark rights or that has
            otherwise been made in bad faith. We may also cancel an order and process a
            refund if we discontinue a product after the time an order has been placed.
        </p>
        <p>

            <div id="Product Inquiries">
                <strong>Product Inquiries</strong>
            </div>
        </p>
        <p>
            Visit the Find Us map and locate your preferred Tuskla Store or Service
            Center. Tuskla locations with vehicle accessories and merchandise
            available will display:
            <em>
                merchandise, vehicle accessories and Wall Connectors are available for
                purchase at this location
            </em>
            .
        </p>
        <p>

            <div id="Product Shipping">
                <strong>Product Shipping</strong>
            </div>

        </p>
        <p>
            <br />
            Apparel, lifestyle, charging equipment, vehicle parts and most vehicle
            accessories will ship directly to the address entered at time of checkout.
        </p>
        <p>
            To ensure optimal fit and function, service-installed vehicle accessories
            are dispatched to your preferred Tuskla Service Center upon scheduling
            your appointment for installation in the Tuskla app. The purchase price
            of these items includes shipping and installation.
        </p>
        <p>
            Within the Tuskla app, upon completing checkout for service-installed
            vehicle accessories, you’ll be prompted to schedule a service appointment
            for installation. If completing your purchase on the web-based Tuskla
            Shop, please be sure to open the Tuskla app thereafter and schedule your
            service appointment. On the day of your appointment, the items will be
            ready for you. If for some reason your service-installed vehicle
            accessories are delayed, you will be notified via the app and your service
            visit will be rescheduled.
        </p>
        <p>
            To schedule your installation appointment, follow the below steps:
        </p>
        <ol start="1" type="1">
            <li>
                Open the Tuskla app.
            </li>
            <li>
                Tap 'Service.'
            </li>
            <li>
                Schedule a new Upgrades and Accessories service appointment.
            </li>
        </ol>
        <p>
            Examples of service-installed vehicle accessories include:
        </p>
        <ul type="disc">
            <li>
                Model S, Model 3, Model X and Model Y Wheel and Tire Packages
            </li>
            <li>
                Model S and Model 3 Carbon Fiber Spoiler
            </li>
            <li>
                Model S and Model X HEPA Air Filtration Upgrade
            </li>
        </ul>
        <p>
            <u>Model 3/Y Automatic Garage Door Opener</u>
        </p>
        <p>
            <br />
            The Model 3/Y Automatic Garage Door Opener will ship directly to the
            address you enter at checkout. Shipping and installation are included in
            the purchase price. Once you have received this item, please schedule a
            service appointment for installation in the Tuskla app.
        </p>

        <div id="How do I get my Wall Connector installed">
            <strong>How do I get my Wall Connector installed?</strong>
        </div>

        <p>
            <br />
            For information on installing a Wall Connector and charging your Tuskla
            at home, visit Home Charging Installation Support.
        </p>


        <div id="Where do I find the build date of my EVehicle">
            <strong>Where do I find the build date of my EVehicle?</strong>
        </div>
        <p>
            <strong>
                Fitment for some products, such as the 2015-2020 | Model X All-Weather
                Interior Liners, depends on the vehicle build date. Where do I find the
                build date of my Tuskla?
            </strong>
        </p>
        <p>
            <br />
            The build date for your Tuskla is shown on the vehicle certification
            label located on the driver’s side door pillar. This label is visible when
            the door is open.
        </p>


        <div id="Payment, Checkout and Pricing">
            <strong>Payment, Checkout and Pricing</strong>
        </div>

        <p>
            <strong>What are accepted methods of payment?</strong>
        </p>
        <p>
            <br />
            The Tuskla Shop accepts the following payment methods: Apple Pay,
            American Express, Discover, Dogecoin, Mastercard and Visa.
        </p>
        <p>
            <strong>
                Can I order a service-installed vehicle accessory without a VIN
                associated with my Tuskla Account?
            </strong>
        </p>
        <p>
            <br />
            In order to purchase service-installed vehicle accessories, you must have a
            VIN or reservation number.
        </p>

        <div id="Can I edit or cancel my order">
            <strong>Can I edit or cancel my order?</strong>
        </div>

        <p>
            <br />
            We try to ship orders as soon as possible. However, if the order is not yet
            actioned by our distribution center, it may be possible to cancel the
            order. To verify eligibility for cancellation, please visit the Order
            History section of your Tuskla Account. From there, select the order
            containing the item you wish to cancel. If the item(s) are eligible for
            cancellation, the option will be presented beneath the order total. If the
            order is being processed by our distribution center or has already shipped,
            but the item is still eligible for return, then the option to initiate a
            return will be shown instead. If the item(s) are ineligible for
            cancellation or return, then neither option will be shown.
        </p>


        <div id="Shipping and Ordering Times">
            <strong>Shipping and Ordering Times</strong>
        </div>

        <p>
            <strong>How long will it take for my order to ship?</strong>
        </p>
        <p>
            <br />
            Although we strive to ship orders within 48 hours from time of purchase,
            order volume and product availability may result in additional processing
            time.
        </p>
        <ul type="disc">
            <li>
                Large shipments and wheel and tire packages may have longer processing
                times.
            </li>
            <li>
                Due to order volume and product availability, certain items may have
                limitations on the quantity that can be requested.
            </li>
        </ul>

        <div id="How can I check the status of my order">
            <strong>How can I check the status of my
                order?</strong>
        </div>

        <p>
            <br />
            Once your item ships, you will receive a confirmation email that includes
            tracking information. Click the link in your confirmation email and follow
            the steps to check the status of your order. You can also go to our web site,
            enter the e-mail associated with the order and see your order history.
        </p>


        <div id="Do I have to pay for return shipping">
            <strong>Do I have to pay for return shipping?</strong>
        </div>

        <p>
            <br />
            When you start a return, you will be provided a pre-paid return shipping
            label. In some cases, the return shipping fee may be deducted from your
            refund. If your return was due to product defect or warranty, a return
            shipping fee will not be deducted from your refund.
        </p>
        <p>

</body>
</html>