<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>

</head>

<body>

    <br /> <p>
        <strong>Wall Connector</strong>
    </p>
    <p>
        Description
    </p>
    <p>
        Wall Connector is the most convenient charging solution for houses,
        apartments, hospitality properties and workplaces.
    </p>
    <p>
        With up to 44 miles of range added per hour of charging, a 24 foot cable
        length, multiple power settings, and a versatile indoor/outdoor design,
        Wall Connector provides unparalleled convenience.
    </p>
    <p>
        Wall Connectors can power-share to maximize existing electrical capacity,
        automatically distributing power to charge multiple cars simultaneously.
    </p>
    <p>
        If you are a developer, manager or owner of commercial real estate and
        interested in purchasing more than 12 Wall Connectors, contact
        CommercialCharging@EVehicles.com.
    </p>
    <p>
        <strong>Installation Guidance</strong>
    </p>
    <p>
        EVehicles Wall Connector must be installed by a qualified electrician.
        Visit our Find an Electrician page to obtain a quote from installers in
        your area. If needed, detailed installation videos and manuals are
        available.
    </p>
    <p>
        Wall Connector is the most convenient charging solution for houses,
        apartments, hospitality properties and workplaces.
    </p>
    <p>
        With up to 44 miles of range added per hour of charging, a 24 foot cable
        length, multiple power settings, and a versatile indoor/outdoor design,
        Wall Connector provides unparalleled convenience.
    </p>
    <p>
        Wall Connectors can power-share to maximize existing electrical capacity,
        automatically distributing power to charge multiple cars simultaneously.
    </p>
    <p>
        If you are a developer, manager or owner of commercial real estate and
        interested in purchasing more than 12 Wall Connectors, contact
        CommercialCharging@EVehicles.com.
    </p>

    <p>
        EVehicles Wall Connector must be installed by a qualified electrician.
        Visit our Find an Electrician page to obtain a quote from installers in
        your area. If needed, detailed installation videos and manuals are
        available.
    </p>
    <br />






</body>
</html>