@{
    Layout = "_Layout2";
}

<h2>Thanks!</h2>
<p>Thanks for placing your order for a Tuskla Car.</p>
<p>Yor Order Id is @ViewBag.orderid</p>
<p>An E-Mail has been sent which provides details of delivery</p>
