@{
    Layout = "_Layout";
}

<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your goods as soon as possible.</p>
<p>Your Order Id is @ViewBag.orderid</p>
<p>An E-Mail has been sent to @ViewBag.email  which provides details of delivery</p>
