@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link rel="stylesheet" type="text/css" href="../css/google-antiflicker.css" />
        <link rel="stylesheet" type="text/css" href="../css/home.css" />
        <script type="text/javascript" src="../js/google-antiflicker.js"></script>
        <meta charset= "utf-8" name="viewport" content="width=device-width" />
        <meta name="description" content="Car, car, car, car">
        <meta name="keywords" content="Search engine keywords, like car">
        <title>Index</title>
    </head>
    <body>
        <div>
            Hello World (from the view)
        </div>
    </body>
</html>