@model Cart

<link rel="stylesheet" asp-href-include="~/lib/jquery/jquery.min.js" />
<script type="text/javascript" src="~/js/pay.js"></script>

@{
    ViewBag.PaymentAmount = Model.ComputeTotalValue().ToString("c");
    ViewBag.ShortAmount = Model.ComputePaymentOption()[0].ToString("c");
    ViewBag.ShortRemaining = Model.ComputePaymentOption()[1].ToString("c");
}

<h4 class="mb-3">Payment</h4>
<div class="d-block my-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" value="ccPayment" checked="">
                <label class="custom-control-label" for="credit">Credit Card <i class="fa fa-cc-visa"></i><i class="fa fa-cc-mastercard"></i><i class="fa fa-cc-amex"></i></label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" value="bankPayment">
                <label class="custom-control-label" for="bank">Bank Transfer</label>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            @if (ViewBag.paymentAmount != ViewBag.shortAmount)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Deposit">
                    <label class="custom-control-label" for="Deposit">Pay a Deposit</label>
                </div>
                <small class="text-muted">Pay $250.00 for your vehicle now, and pay @ViewBag.ShortRemaining on delivery.</small>
            }
        </div>
    </div>
</div>
<div class="ccPayment box">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Name on Card</label>
            <input type="text" class="form-control text-left" id="cc-name" placeholder="Full Name">
            <small class="text-muted">Full Name as Displayed on Card</small>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control text-left" id="cc-number" placeholder="1234 5678 1234 5678">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mb-3">
            <label for="cc-expiration">Expiration Month</label>
            <select class="form-control text-left">
                <option value="01">January</option>
                <option value="02">February </option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="col-md-2" mb-3>
            <label for="cc-expiration text-left">ExpirationYear</label>
            <select class="form-control">
                        <option value="22"> 2022</option>
                        <option value="23"> 2023</option>
                        <option value="24"> 2024</option>
                        <option value="25"> 2025</option>
                        <option value="26"> 2026</option>
                        <option value="27"> 2027</option>
                        <option value="28"> 2028</option>
                        <option value="29"> 2029</option>
                        <option value="30"> 2030</option>
                        <option value="31"> 2031</option>
                    </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control text-left" id="cc-cvv" placeholder="000">
            <small class="text-muted">Located on Reverse of Card</small>
        </div>
    </div>
</div>
<div class="bankPayment box">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Name on Account</label>
            <input type="text" class="form-control text-left" id="acct-name" placeholder="Full Name">
            <small class="text-muted">Full on Account</small>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cc-number">Account Number</label>
            <input type="text" class="form-control" id="acct-number" placeholder="123456789012">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Routing Number</label>
            <input type="text" class="form-control" id="acct-route" placeholder="123456789">
            <small class="text-muted">&nbsp;</small>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cc-number">Verify Account Number</label>
            <input type="text" class="form-control" id="acct-number-verify" placeholder="123456789012">
        </div>
    </div>  
</div>
<div class="paymentDeposit">
    <button class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-money-bill"></i> Pay @ViewBag.ShortAmount</button>
</div>
<div class="paymentFull">
    <button class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-money-bill"></i> Pay @ViewBag.PaymentAmount</button>
</div>
<hr class="mb-4">
