@model Cart

<link rel="stylesheet" asp-href-include="~/lib/jquery/jquery.min.js" />
<script type="text/javascript" src="~/js/pay.js"></script>

<h4 class="mb-3">Payment</h4>

<div class="d-block my-3">
    <div class="custom-control custom-radio">
        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" value="ccPayment" checked="">
        <label class="custom-control-label" for="credit">Credit Card</label>
    </div>
    <!-- IF VEHICLE, add some text for Deposit, Amnt, Pay in full -->
    <div class="custom-control custom-radio">
        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" value="bankPayment">
        <label class="custom-control-label" for="bank">Bank Transfer</label>
    </div>
</div>
<div class="ccPayment box">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Name on Card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="Full Name">
            <small class="text-muted">Full Name as Displayed on Card</small>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="1234 5678 1234 5678">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mb-3">
            <label for="cc-expiration">Expiration Month</label>
            <select class="form-control">
                <option value="01">January</option>
                <option value="02">February </option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="col-md-2" mb-3>
            <label for="cc-expiration">ExpirationYear</label>
            <select class="form-control">
                        <option value="22"> 2022</option>
                        <option value="23"> 2023</option>
                        <option value="24"> 2024</option>
                        <option value="25"> 2025</option>
                        <option value="26"> 2026</option>
                        <option value="27"> 2027</option>
                        <option value="28"> 2028</option>
                        <option value="29"> 2029</option>
                        <option value="30"> 2030</option>
                        <option value="31"> 2031</option>
                    </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="000">
            <small class="text-muted">Located on Reverse of Card</small>
        </div>
    </div>
</div>
<div class="bankPayment box">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Name on Account</label>
            <input type="text" class="form-control" id="acct-name" placeholder="Full Name">
            <small class="text-muted">Full on Account</small>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cc-number">Account Number</label>
            <input type="text" class="form-control" id="acct-number" placeholder="123456789012">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Routing Number</label>
            <input type="text" class="form-control" id="acct-route" placeholder="123456789">
        </div>
        <div class="col-md-6 mb-3">
            <label for="cc-number">Verify Account Number</label>
            <input type="text" class="form-control" id="acct-number-verify" placeholder="123456789012">
        </div>
    </div>  
</div>
<hr class="mb-4">



<div class="container centerwrapper animated fadeInRight">
    <div class="row mt-1">
        <div class="col-sm-5 col-md-5 col-lg-5 mt-1 order-summary">
            <div class="ibox-title">Make Deposit</div>
            <h2>Due Today @Model.ComputePaymentOption()[0].ToString("c")</h2>
            <h2>Due Later @Model.ComputePaymentOption()[1].ToString("c")</h2>
        <div class="row mt1 form-group">
            <div class="col-form-label">
                <label class="mr-1">Name on Card</label>
                    <input type="text" class="topcoat-text-input--large form-control" placeholder="Name on Card">
            </div>
        </div>
            <div class="row mt1">
            <div class="col">
                <label class="mr-1">Card Number</label>
                    <input type="text" class="topcoat-text-input--large form-control" id="cardNumber" placeholder=" 1234 5678 1234 5678">
            </div>
            </div>
            <div class="row mt1">
            <div class="col">
                <label class="mr-1">CVV</label>
                <input type="text" class="topcoat-text-input--large" id="CVV" placeholder="000">
                <i class="fa fa-cc-visa"></i>
                <i class="fa fa-cc-mastercard"></i>
                <i class="fa fa-cc-amex"></i>
            </div>
            </div>
            <div class="row mt1">

                <div class="col">
                    <label>Expires</label>
                </div>
                <div class="col mt-0">
                    <select class="topcoat-text-input--large">
                        <option value="01">January</option>
                        <option value="02">February </option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label></label>
                </div>
            <div class="col mt-1">
                <select class="topcoat-text-input--large">
                    <option value="22"> 2022</option>
                    <option value="23"> 2023</option>
                    <option value="24"> 2024</option>
                    <option value="25"> 2025</option>
                    <option value="26"> 2026</option>
                    <option value="27"> 2027</option>
                    <option value="28"> 2028</option>
                    <option value="29"> 2029</option>
                    <option value="30"> 2030</option>
                    <option value="31"> 2031</option>
                </select>
            </div>
            </div>
            <div class="row d-flex justify-content-center mt-2">
                <div class="col-sm-auto col-md-auto col-lg-auto">
                <button type="submit" class="btn btn-primary"><i class="fa fa-money-bill"></i> Make Deposit</button>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mt-1 order-summary">
            <div class="ibox-title">Pay in Full</div>
            <h2>Due @Model.ComputePaymentOption()[1].ToString("c")</h2>
        <div class="col mt-1">
            <label class="mr-1">Name</label>
            <input type="text" class="topcoat-text-input--large" placeholder="Name on Account">
        </div>
        <div class="col mt-1">
            <label class="mr-1">Account Number</label>
            <input type="text" class="topcoat-text-input--large" id="cardNumber" placeholder=" 000000000">
        </div>
        <div class="col mt-1">
            <label class="mr-1">Routing Number</label>
            <input type="text" class="topcoat-text-input--large" id="CVV" placeholder="0000000">
        </div>
            <div class="row d-flex justify-content-center mt-2">
                <div class="col-sm-auto col-md-auto col-lg-auto">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-money-bill"></i> Make Deposit</button>
                </div>
        <div/>
    </div>
</div>
</div>
</div>




