@model IEnumerable<string>

<ul class="topcoat-button-bar w50">
    <li class="topcoat-button-bar__item">
        <a class="topcoat-button-bar__button full" asp-action="List" asp-controller="Product" asp-route-category=@null asp-route-page="1">All</a>
        </li>
    @foreach (string category in Model)
    {
        @if (category != "Car")
        {
        <li class="topcoat-button-bar__item">
            <a class="topcoat-button-bar__button full" asp-action="List" asp-controller="Product" asp-route-category="@category" asp-route-page="1">
                @category
            </a>
        </li>
        }
    }
</ul>
