@model IEnumerable<string>

<link rel="stylesheet" asp-href-include="~/lib/topcoat/css/topcoat-desktop-light.min.css" />
<br />
<ul class="topcoat-button-bar full">
    @foreach (string category in Model)
    {
        @if (category != "Car")
        {
        <li class="topcoat-button-bar__item">
            <a class="topcoat-button-bar__button full" asp-action="List" asp-controller="Product" asp-route-category="@category" asp-route-page="1">
                @category
            </a>
        </li>
        }
    }
</ul>
<br />
<br />
