@model IEnumerable<string>

<center>
    <div class="mb-2">
        <div class="float-left">
            Current Category:  
            @if (ViewBag.SelectedCategory == null) 
            { 
                <span>None</span>
            } else 
            { 
                @ViewBag.SelectedCategory
            }
        </div>
        <div class="topcoat-button-bar">
            <div class="topcoat-button-bar__item">
                <a class="topcoat-button-bar__button--large" asp-action="List" asp-controller="Product" asp-route-category=@null asp-route-page="1">All</a>
            </div>
            @foreach (string category in Model)
            {
                @if (category != "Car")
                {
                    <div class="topcoat-button-bar__item">
                        <a class="topcoat-button-bar__button--large" asp-action="List" asp-controller="Product" asp-route-category="@category" asp-route-page="1">
                            @category
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</center>
